
# Created by https://www.toptal.com/developers/gitignore/api/octave
# Edit at https://www.toptal.com/developers/gitignore?templates=octave

### Octave ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# End of https://www.toptal.com/developers/gitignore/api/octave




# my own
machine-learning-ex[0-20]/ex[0-20]/token.mat
machine-learning-ex[0-20]/ex[0-20]/lib
